@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #202020;
    background-image: linear-gradient(to top right, #9575CD,#4527A0);
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

/*Button Animation*/
.float{
    transition: .3s, color .10s;
    -webkit-transition: .3s, color .10s;
    -moz-transition: .3s, color .10s;
}

.float:hover{
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.4));
    transform: translate(0px,3px);
    -webkit-transform: translate(0px,3px);
    -moz-transform:translate(0px,3px);
}